.profile {
  width: 340px;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  background-color: azure;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.avatar {
  margin: 10px;
}

.name {
  font-size: 20px;
  font-style: unset;
  font-weight: 700;
}

.tag {
  font-size: 15px;
  font-weight: 500;
  color: tomato;
}

.location {
  font-style: italic;
}

.stats {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: space-around;
}
